.image {
    text-align: center; /* Yatayda ortalar */
}

.search {
    background-color: #EEEEEE;
    text-align: center; /* Yatayda ortalar */
    margin: 0 8%;
    width: 85%;
}

.search-element {
    margin: 0 0; /* margini kaldır */
}

table {
    margin: 0 8%;
    width: 85%;
}

.table-left {
    width: 37%;
    background-color: #7EE5DA;
    text-align: center;
}

.table-center {
    width: 23%;
    background-color: #70CCC2;
    text-align: center;
}

.table-right {
    width: 40%;
    background-color: #62B3AA;
    text-align: center;
}
a:link {
    color: blue; /* Link mavi renkte görünür */
}

a:visited {
    color: rgb(83, 34, 83); /* Varsayılan renge döner*/
}

.footer {
    text-align: center;
}